
nav{
    overflow: hidden;
    position: fixed;
    background: rgba(0, 0, 0 , 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom:2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);

}
nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: #ffd993;
    font-size: 1.1rem;
    transition: all 400ms ease;
}
nav a:hover{
    background: rgba(255, 221, 148, 0.21);
    color: #441809;
}

nav a.active {
    background: rgba(255, 221, 148, 0.15);
    color: #ffd793;
}
.contact__icon {
    color: #ffd58b;
}