.filter {
    width: 100%;
    display: flex;
}

.searchTerm {
    border: 0px;
    border-radius: 50px;
    padding: 6px;
    height: 20px;
    outline: none;
    background: rgba(0, 0, 0, 0.12);
    max-width: 250px;
    transition: all 600ms ease;
    display: flex;
    flex-direction: column;
  }

.searchTerm::placeholder {
    font-family: Elephant, sans-serif;
    color: rgba(68, 24, 9, 0.85);
}

.searchTerm:hover{
    background: rgba(0, 0, 0, 0.2);
}

  .searchTerm:focus{
    color: #e7ae70;
  }
  
  @media screen and (max-width: 1000px){
    .filter  {
        margin-right: 20%;
        min-width: 100px;
    }
  }

@media screen and (min-width: 1001px) {
    .filter {
        position: center;
        margin-right: 250px;
        justify-content: center;
    }
}