.filter {
    width: 50%;
    margin: auto;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    position: relative;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }