.filter {
  width: 50%;
}

.searchTerm {
    width: 100%;
    border: 2px solid rgba(79, 148, 183, 0.91);
    border-radius: 50px;
    padding: 5px;
    height: 20px;
    outline: none;
    position: relative;
    background-color: rgba(0, 10, 204, 0.05);
  }
  
  .searchTerm:focus{
    color: #4fa9de;
  }