
main {
  margin: 0;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

#background {

  transform: translateZ(-25px) scale(4);
  position: absolute;
  max-height: 70%;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  top: 0%;
  object-fit:cover;
  background-image: 
  linear-gradient(
    200deg, 
    hsla(187, 100%, 69%, 1),
    hsla(187, 100%, 69%, 0.175) 70%), 
    linear-gradient(130deg, 
    rgba(255, 97, 255, 0.856), 
    hsla(300, 100%, 69%, 0.11) 70%), 
    linear-gradient(330deg, 
    hsla(0, 100%, 69%, 1), 
    hsla(0, 100%, 69%, 0.49) 90%);

  height: 100vh;
  width: 100vw;
  opacity: 1;
  
  }
  
  .wrapper {

    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    scroll-behavior: smooth;
    z-index: 0;
    
  }
  
  #parallerheader {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120%;
    transform-style: preserve-3d;
    z-index: -1;
    opacity: 1;
    margin-left: 0%;
    margin-right: 0%;

  }

  .stars {

    transform-style: preserve-3d;
    transform: translateZ(-20px) scale(3);
    position: fixed;
    height: 100%;
    width: 100%;
    margin-top: 0%;
    object-fit: cover;
    animation: opacity 0.08s infinite alternate;
    /*animation: spingear 5s infinite linear;*/
    z-index: -4;

  }

  .trees {

    display: flex;
    transform: translateZ(-5px) scale(1.4);
    position: absolute;
    height: 120%;
    width: 108%;
    margin-left: 0%;
    margin-right: 0%;
    object-fit:cover;
    z-index:-2;
   
  }

  .sun {

    transform: translateZ(-10px) scale(2.3);
    position: absolute;
    height: 120%;
    width: 100%;
    margin-top:3.5%;
    margin-left: 16%;
    object-fit: cover;
    z-index: -3;
    
  }

  #sunset{          

    transform: translateZ(-10px) scale(2.3);
    position: absolute;
    height: 120%;
    width: 100%;
    margin-top:3.5%;
    margin-left: 16%;
    object-fit: cover;
    z-index: -3;
    opacity: 0;
    filter:saturate(500)

  }



  .title {
    
    display: flex;
    font-size: 7vw;
    text-align: center;
    color: white;
    text-shadow: 0 0 5px rgb(22, 98, 211);;
    margin-top: -16%;
    margin-right: 0%;
    margin-left: 48%;
    border-radius: 5%;

  }
  


  @keyframes spingear {
    0% {z-index: -4;transform: rotate(0deg);
      }
    100% {z-index: -4;transform: rotate(20deg);
      }
  }

  @keyframes opacity {
    0% {opacity: 0.75;}
    100% {opacity:0.89;}
  }












  

  

  