  

  .shopping-cart{
    min-width:35px;
    min-height:35px;
    text-align:center;
    transition: all 600ms ease;
  }
  
  #badge{
    height: 2%;
    width: 3%;
    background-color: rgba(33, 201, 201, 0.83);
    color: white;
    font-size: 9px;
    position: relative;
    transform: rotate(-40deg);
    border-radius: 5px;
    top: 13px;
    left: 9px;
    padding: 10px;
    z-index: 0;
    text-align: left;
    font-family: Tahoma, sans-serif;
  }
  
  .shopping-cart-icon{
    font-size: 35px;
    opacity: 1;
    z-index: 2;
    color: #7a6abd;
    position: relative;
  }

  .shopping-cart:hover {
    scale: 0.9;
    cursor:pointer;
  }