  

  .shopping-cart{
    min-width:35px;
    min-height: 35px;
    text-align:center;
  }
  
  #badge{
    height:8%;
    width:18%;
    background-color:#21c999;
    color:white;
    font-size: 20px;
    position:relative;
    transform: rotate(-50deg);
    border-radius:5px;
    top:15px;
    left:17px;
    padding:10px;
    z-index:0;
    text-align:center;
    font-family: Arial, sans-serif;
  }
  
  .shopping-cart-icon{
    font-size:50px;
    opacity:1;
    z-index: 2;
    color:grey;
    position: relative;
  }

  .shopping-cart:hover {
    scale: 1.2;
    cursor:pointer;
  }