  

  .shopping-cart{
    min-width:35px;
    min-height:35px;
    text-align:center;
    transition: all 700ms ease;
    padding-bottom: 10px;
    padding-right: 20px;
  }
  
  #badge{
    height: 20px;
    width: 0.5px;
    background-color: rgb(255, 217, 147);
    color: #441809;
    font-size: 9px;
    font-weight: bold;
    position: relative;
    transform: rotate(-31deg);
    border-radius: 5px;
    top: 15px;
    left: 9px;
    padding: 7px 15px 4px 7px;
    z-index: 0;
    text-align: center;
    font-family: Elephant, sans-serif;
    transition: all 700ms ease;
  }

  #badge:hover {
    transform: rotate(10deg);
  }
  
  .shopping-cart-icon{
    font-size: 35px;
    opacity: 1;
    z-index: 2;
    color: #561f00;
    position: relative;
  }

  .shopping-cart:hover {
    scale: 1.1;
    cursor:pointer;
  }