
::-webkit-scrollbar {
  width: 0px;
}

.product-view {
    min-height: 104vh;
    background-image: 
    linear-gradient(
      200deg, 
      hsla(187, 100%, 69%, 1),
      hsla(187, 100%, 69%, 0.295) 70%), 
      linear-gradient(130deg, 
      rgba(255, 97, 255, 0), 
      hsla(300, 100%, 69%, 0.11) 70%), 
      linear-gradient(330deg, 
      rgba(255, 189, 97, 0.342), 
      hsl(0, 100%, 69%) 70%);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;  
  }

  .mainstuff{
    width: 100%;
    position: absolute;
    background-color: rgba(170, 224, 234, 0);
    margin-top: 8.5%;
    margin-left: 0%;
    margin-right: 0%;
    display: flex; 
    z-index: 5; 
  }
  
  .product-main-area {
    padding: 25px;
    flex: 1 1 auto;
    z-index: 0;
  }

  .product-main-area * {
    box-sizing: border-box;
  }

  .product-card {
    display: block;
    border-radius: inherit;
  }
  /*----------------------------------------- Side panels---------------------------------------------- */
  
  .product-side-panel {
    border-left: solid black 0px;
    background-color: lightcoral;
    flex: 0 0 fit-content;
    -webkit-box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    margin-top: 5%;
    max-height: 53%;
  }
  
  .product-side-panel-toggle {
    border-right-width: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    -webkit-box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 45px;
  }
  
  .product-side-panel-toggle-wrapper {
    overflow: visible;
    position: relative;
    left: -100px;
    top: 10px;
    width: 0;
    height: 0;

  }

  .login-side-panel {
    border-left: solid black 0px;
    background-color: rgb(89, 73, 165);
    flex: 0 0 fit-content;
    -webkit-box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    margin-top: 2%;
    max-height: 53%;
  }
  
  .login-side-panel-toggle {
    border-right-width: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    -webkit-box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    background-color: rgb(89, 73, 165);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 45px;
    position: fixed;
    margin-top: 3.5%;
  }
  
  .login-side-panel-toggle-wrapper {
    overflow: visible;
    position: relative;
    left: -100px;
    top: 10px;
    width: 0;
    height: 0;

  }

  .sidecontainer {

    margin-top: 3%;
    max-width: 25%;
    position: relative;

  }
  
  /*----------------------------------------- Products---------------------------------------------- */

  .product-list {
    padding: 25px;
    background-color: rgba(209, 173, 66, 0);
    border-radius: 1rem;
  }
  
  .product-list-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: solid black 2px;
    background-color: blanchedalmond;
    border-radius: 1rem;
    margin: 25px 10px;
    width: 150px;
    height: 150px;
    overflow: hidden;
  }

  .product-list-item:hover {
    box-shadow: 3px -3px 2px -2px rgba(0,0,0,0.45);
    cursor: pointer;
  }
  
  .product-list-item.selected {
    background-color: rgb(222, 199, 52);
  }
  
  .product-list-item-photo {
    width: 150px;
    height: 116px;
  }
  
  
  .product-details {
    padding: 10px;
    width: 280px;
    overflow: scroll;
  }
  
  .product-info {
    font-weight: bold;
  }
  
  .product-price {
    font-weight: bold;
    font-size: x-large;
  }
  
  li.product-details-list-item {
    margin-bottom: 8px;
    list-style-type: square;
    overflow: hidden;
  }

  /* Shopping cart */

  .cart-box {
    display: flex;
    position: fixed;
    z-index: 1;
    min-width: 25%;
    min-height: 30%;
    background-color: antiquewhite;
    border-radius: 3%;
  }

  .cart-button {
    position: relative;
    height: 3em;
    width: 6em;
    top: 1em;
    left: 1em;
    border-radius: 0;
  }
  .cart-button:hover {
    cursor: pointer;
  }  