::-webkit-scrollbar {
  width: 0px;
}

.product-view {
  min-height: 104vh;
  background-image: linear-gradient(
      200deg,
      hsl(238, 42%, 15%),
      hsla(276, 61%, 31%, 0.29) 70%
    ),
    linear-gradient(
      130deg,
      rgba(255, 97, 255, 0),
      hsla(300, 100%, 69%, 0.11) 70%
    ),
    linear-gradient(330deg, rgb(49, 18, 0), hsl(212, 45%, 69%) 70%);
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  flex-direction: column;
}

.mainstuff {
  width: 100%;
  position: absolute;
  background-color: rgba(170, 224, 234, 0);
  margin-top: 8.5%;
  margin-left: 0%;
  margin-right: 0%;
  display: flex;
  z-index: 5;
}

.product-main-area {
  padding: 10px;
  flex: 1 1 auto;
  z-index: 0;
  max-width: 800px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.12);
  border-radius: 60px;
}

.product-main-area * {
  box-sizing: border-box;
}

.product-card {
  display: block;
  border-radius: inherit;
}

/*----------------------------------------- Side panels---------------------------------------------- */

.product-side-panel {
  border-left: solid black 0px;
  background-color: rgba(111, 107, 169, 0.97);
  flex: 0 0 fit-content;
  -webkit-box-shadow: -5px 1px 4px 1px rgba(0, 0, 0, 0.45);
  box-shadow: -5px 1px 4px 1px rgba(0, 0, 0, 0.45);
  margin-top: 5%;
  max-height: 53%;
  transition: all 700ms ease;
}

.product-side-panel:hover {
  opacity: 80%;
}

.product-side-panel-toggle {
  border-right-width: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  -webkit-box-shadow: -5px 1px 4px 1px rgba(0, 0, 0, 0.45);
  box-shadow: -5px 1px 4px 1px rgba(0, 0, 0, 0.45);
  background-color: rgba(111, 107, 169, 0.97);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 45px;
  cursor: pointer;
  margin-top: 100px;
  transition: all 700ms ease;
}

.product-side-panel-toggle:hover {
  opacity: 60%;
}

.product-side-panel-toggle-wrapper {
  overflow: visible;
  position: relative;
  left: -100px;
  top: 10px;
  width: 0;
  height: 0;
  transition: all 700ms ease;
}

  .login-side-panel {
    border-left: solid black 0px;
    background-color: rgba(89, 73, 165, 0.87);
    flex: 0 0 fit-content;
    -webkit-box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    margin-top: 2%;
    max-height: 53%;
    cursor: pointer;
    transition: all 700ms ease;
  }

.login-side-panel:hover {
  opacity: 80%;
}

  .logintext {
    padding-right: 17px;
  }
  
  .login-side-panel-toggle {
    border-right-width: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    -webkit-box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    background-color: rgba(89, 73, 165, 0.87);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 45px;
    margin-top: 60px;
    transition: all 700ms ease;
  }

  .login-side-panel-toggle:hover {
    opacity: 60%;
  }
  .login-side-panel-toggle-wrapper {
    overflow: visible;
    position: relative;
    left: -100px;
    top: 10px;
    width: 0;
    height: 0;

  }

.sidecontainer {
  margin-top: 15%;
  max-width: 25%;
  position: absolute;
  top: 0;
  z-index: 998;
  right: 0;
}

.add-to-cart-complex * {
  display: block;
  margin: auto;
}

.add-to-cart-button {
  display: block;
  margin: auto;
}

.qty-box {
  display: block;
  margin: 1em auto 0.5em;
}

/*----------------------------------------- Products---------------------------------------------- */

.product-list {
  padding: 25px;
  background-color: rgba(209, 173, 66, 0);
  border-radius: 1rem;
}

.product-list-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.91);
  border-radius: 1rem;
  margin: 25px 10px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  transition: all 700ms ease;
  font-family: Corbel, sans-serif;
  color: #000000;
}

.product-list-item-photo:hover {
  opacity: 85%;
}

.product-list-item-photo {
  transition: all 700ms ease;
  opacity: 90%;
}

.product-list-item b {
  padding-top: 3px;
}

.product-list-item:hover {
  box-shadow: -1px 3px 5px -1px rgba(0, 0, 0, 0.63);
  transition: all 700ms ease;
  cursor: pointer;
  width: 150px;
  height: 155px;
  object-fit: contain;
}

.product-list-item.selected {
  background-color: rgb(222, 199, 52);
}
.product-list-item-photo {
  width: 150px;
  height: 116px;
}
.product-details {
  padding: 10px;
  width: 280px;
  overflow: scroll;
}

.product-info {
  font-weight: bold;
}

.product-price {
  font-weight: bold;
  font-size: x-large;
}

li.product-details-list-item {
  margin-bottom: 8px;
  list-style-type: square;
  overflow: hidden;
}

/* Shopping cart */
.cart {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-right: 20px;
}
.cart-box {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  min-height: 30%;
  background-color: rgba(245, 125, 84, 0.93);
  border-radius: 3%;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 68%);
  position: absolute;
  right: 0;
  z-index: 999;
}
.Cart-box {
  padding: 0;
  padding-bottom: 2em;
}
.cart-box li {
  background-color: antiquewhite;
  border: dotted 1px black;
  list-style: none;
  margin: 0.25em 0 0 0.1em;
}
.cart-box li button {
  position: absolute;
  right: 1em;
}

.cart-button {
  height: 2em;
  width: 2em;
  border-radius: 0;
}
.cart-button:hover {
  cursor: pointer;
}

#buy-button {
  position:absolute;
  bottom: 1em;
  right: 1em;
  width: 40%;
  margin: auto;
}

.close-button {
  line-height: 12px;
  width: 20px;
  height: 20px;
  font-size: 10pt;
  margin-top: 1px;
  margin-right: 1px;
  position: absolute;
  font-family: Tahoma, sans-serif;
  border-radius: 50%;
  border-width: 0px;
  color: white;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  background-color: #26cc6e;
  pointer-events: auto;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 68%);
}

/* top bar */
.filter-cart {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  padding-top: 20px;
}

#active-profile * {
margin-left: 1em;
}

.profile-button {
  max-width: 2em;
  max-height: 2em;
}

.profile-button:hover {
  cursor: pointer;
}

.log-out-button {
  max-width: 2em;
  max-height: 2em;
}

.log-out-button:hover {
  cursor: url('https://cdn.discordapp.com/attachments/940941259571355688/1051889021921546271/6ctiny.png'), pointer;
}